.note{
    width: 230px;
    padding: 15px;
    word-wrap: break-word;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 1px 3px 7px rgb(206, 201, 201);
    height: fit-content; 
    transition: 0.3s ease-in-out;
}
.note:hover{
    box-shadow: 1px 3px 7px rgb(165, 162, 162);
}
.note h3{
   font-weight: 400;
   margin-left: 5px;
}
.note p{
    font-weight: 300;
    margin-bottom: 20px;
}
.note .del-btn{
    background: none;
    outline:none;
    border: none;
    cursor: pointer;
    color: rgb(231, 172, 61); 
    margin-left: 80%;
    transition: 0.3s ease-in-out;
}
.note .del-btn:hover{
    color: rgb(196, 143, 45);
}